//========= UI ELEMENTS==========//

$asset-base-path: './../images/';

@mixin background-icon($imageName){
	background-image: url($asset-base-path + '/' + $imageName);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}


@mixin background($imageName){
	background-image: url($asset-base-path + '/' + $imageName);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 100% 100%;
	display: block;
	overflow: hidden;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	margin: 10px 0;
}

hr {
	margin-bottom: 30px;
	margin-top: 30px;
}

// Snippet for background mixin use
// Image path is already set in Gruntfile.js so you just need to put image name.

// .your-image {
// 	@include background-icon('your-image.jpg');
// 	width: 200px;
// 	height: 200px;
// }

/* .logo-sutterfield {
	@include transition-quad;
	@include background-icon('logo-sutterfield.png');
	width: 388px;
	height: 130px;
	@include xsmall {
		//width: 149px;
		//height: 50px;
		margin: 0 auto;
	}
	@include medium {
		width: 300px;
		height: 101px;
	}
	@include large {
		width: 388px;
		height: 130px;
	}
} */

.icon-aetheryte {
	@include background-icon('aetheryte.png');
	height: 30px;
	margin-right: 6px;
	width: 20px;
}

.loading-gif {
	display: block;
	width: 100px;
}

.icon-x-wt {
	@include background-icon('icon-x-wt.png');
	width: 24px;
	height: 24px;
}

.hamburger {
	padding: 15px 15px;
	display: none;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
	@include xsmall {
		display: inline-block;
	}
}

.hamburger:hover {
	opacity: 0.7; 
}
.hamburger.is-active:hover {
	opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #C4C4C4; 
}
  
.hamburger-box {
	width: 34px;
	height: 24px;
	display: inline-block;
	position: relative; 
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 34px;
	height: 4px;
	background-color: #C4C4C4;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px; 
}

.hamburger--spin .hamburger-inner {
	transition-duration: 0.22s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--spin .hamburger-inner::before {
	transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; 
}
.hamburger--spin .hamburger-inner::after {
	transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
	
.hamburger--spin.is-active .hamburger-inner {
	transform: rotate(225deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--spin.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; 
}

.hamburger--spin.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
