//========= UI ELEMENTS==========//

$asset-base-path: './../images/';

@mixin background-icon($imageName){
	background-image: url($asset-base-path + '/' + $imageName);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}


@mixin background($imageName){
	background-image: url($asset-base-path + '/' + $imageName);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 100% 100%;
	display: block;
	overflow: hidden;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	margin: 10px 0;
}

hr {
	margin-bottom: 30px;
	margin-top: 30px;
}

// Snippet for background mixin use
// Image path is already set in Gruntfile.js so you just need to put image name.

// .your-image {
// 	@include background-icon('your-image.jpg');
// 	width: 200px;
// 	height: 200px;
// }

/* .logo-sutterfield {
	@include transition-quad;
	@include background-icon('logo-sutterfield.png');
	width: 388px;
	height: 130px;
	@include xsmall {
		//width: 149px;
		//height: 50px;
		margin: 0 auto;
	}
	@include medium {
		width: 300px;
		height: 101px;
	}
	@include large {
		width: 388px;
		height: 130px;
	}
} */

.icon-aetheryte {
	@include background-icon('aetheryte.png');
	height: 30px;
	margin-right: 6px;
	width: 20px;
}

.loading-gif {
	display: block;
	width: 100px;
}

.icon-x-wt {
	@include background-icon('icon-x-wt.png');
	width: 24px;
	height: 24px;
}

.venue-desc_aetheryte {
	align-items: center;
	color: #CCCCCC;
	display: flex;
	font-size: 14px;
	font-weight: 800;
	margin-top: 14px;
}

