<footer id="footer" class="show2">
	<div class="section-module">
		<div class="footer-left">
			<div class="store-info">
				<p>
					<span>Monday - Saturday, 10am - 6pm |</span>
					<span>1174 Broadway, Burlingame, CA 94010 </span>
				</p>
				<p>
					<a id="footer-tel" href="tel:+1-650-579-7800" data-track="footer, click, telephone">650.579.7800</a> |
					<a id="footer-info" href="mailto:info@sutterfields.com" data-track="footer, click, Email Info">info@sutterfields.com</a> |
					<a id="footer-consign" href="mailto:consign@sutterfields.com" data-track="footer, click, Email Consign">consign@sutterfields.com</a>
				</p>
			</div>
			<div class="web-info">
				<p>2015 &copy; Sutterfield Consignment. | <a target="_blank" href="privacy.html" data-track="footer, click, privacy">Privacy Policy</a></p>
				<p>Designed &amp; Developed by <a href="http://richardtirta.com" data-track="footer, click, Richard Tirta">RICHARD TIRTA</a>.</p>
			</div>
		</div>
		<div class="footer-right">
			<a id="footer-fb" class="icon-fb-wt footer-social" target="_blank" href="https://www.facebook.com/SutterfieldConsignmentGallery" data-track="footer, click, facebook">Facebook</a>
				<a id="footer-yp" class="icon-yp-wt footer-social" target="_blank"
					href="http://www.yelp.com/biz/sutterfield-consignment-burlingame" data-track="footer, click, yelp">Yelp</a>
			<a id="footer-eb" class="icon-eb-wt footer-social" target="_blank" href="http://stores.ebay.com/sutterfieldconsignment" data-track="footer, click, ebay">Ebay</a>
			<a id="footer-fl" class="icon-fl-wt footer-social" target="_blank" href="https://www.flickr.com/photos/132564002@N05/" data-track="footer, click, flickr">Flickr</a>
		</div>
	</div>
</footer>
