<header id="header">
	<div class="section-module">
		<nav>
			<a href="/index.html#gallery" id="nav-gallery">Gallery</a>
			<a href="/consign.html" id="nav-consign">Consign</a>
			<a href="/contact.html" id="nav-contact" class="selected">Contact</a>
		</nav>

		<div class="logo-container">
			<a id="logo-sutterfield" href="/index.html" class="logo-sutterfield">
				<img alt="Sutterfield Consignment Gallery" src="assets/images/logo-sutterfield.png">
				<span>Sutterfield Consignment Gallery</span>
			</a>
			<a id="brand-nav" href="#gallery"><p>Furniture | Sterling | Jewelry | Rugs | Art | and more&hellip;.</p></a>
		</div>

		<div class="store-info">
			<div class="info-left">
				<p>Monday - Saturday, 10am - 6pm</p>
				<p>1174 Broadway, Burlingame, CA 94010</p>
				<a id="header-tel" href="tel:+1-650-579-7800"><p>650.579.7800</p></a>
			</div>
			<div class="info-right">
				<a id="header-email-info" href="mailto:info@sutterfields.com">info@sutterfields.com</a>
				<a id="header-email-consign" href="mailto:consign@sutterfields.com">consign@sutterfields.com</a>

				<div class="social-container">
					<a id="header-fb" class="icon-fb" title="Facebook" target="_blank" href="https://www.facebook.com/SutterfieldConsignmentGallery">Facebook</a>
					<a id="header-yp" class="icon-yp" title="Yelp" target="_blank"
						href="http://www.yelp.com/biz/sutterfield-consignment-burlingame">Yelp</a>
					<a id="header-eb" class="icon-eb" title="eBay" target="_blank" href="http://stores.ebay.com/sutterfieldconsignment">Ebay</a>
					<a id="header-houzz" class="icon-houzz" title="Houzz" target="_blank" href="http://www.houzz.com/pro/sutterfieldconsignment">Houzz</a>
					<a id="header-fl" class="icon-fl" title="Flickr" target="_blank" href="https://www.flickr.com/photos/132564002@N05/">Flickr</a>
				</div>
			</div>
		</div>
	</div>
</header>
