<header id="header">
	<div class="section-module">
		<div class="logo-container">
			<a id="logo-cva" href="/index.html" class="logo-cva">
				<img alt="Crytal Venue Association src="assets/images/logo-cva2.png">
				<span>Crystal Venue Association</span>
			</a>
		</div>
		<div>
			<div class="profile-nav"></div>
			<nav>
				<a href="/index.html" id="nav-event" class="selected">Events</a>
				<a href="/venue.html" id="nav-venue">Venues</a>
				<a href="/about.html" id="nav-about">About</a>
			</nav>
		</div>
	</div>
</header>
