<section class="home" id="home">
	<div id="hero" class="hero">

		<img src="assets/images/hero/modern.jpg"/>
		<div class="hero-modal">
			<h1>Spring Clearance</h1>
			<p>
				Large Collection of Art, Home Decor & Jewelry<br/>
				High End Furniture starts at $299.
			</p>
			<a href="#gallery" data-track="hero, click, shop now">
				<strong>Shop Now &raquo;</strong>
			</a>
		</div>

	</div>
	<div class="overview section-module">
		<h2>
			Exchanging Beautiful Things Between People of Taste.
		</h2>
		<div class="column-p">
			<p class="column">
				Sutterfield is an upscale consignment gallery in Burlingame, San Francisco Bay Area. Our high-end gallery offers pre&#8209;owned home furnishings and accessories that aims to satisfy all tastes, from mid&#8209;century modern to contemporary to traditional.
			</p>
			<p class="column">
				Our shop selection features high-end designer furniture, home decor, handmade rugs, fine china, fine jewelry, sterling silver, lighting, fine art, and many other unique objects.
			</p>
		</div>
		<a id="more-about-button" class="more-about-button collapse" href="#" data-track="gallery, click, about"><span class="plus">+</span> <span class="minus">-</span> More About Sutterfield ></a>

		<div id="more-about" class="more-about hide">
			<h3>
				About Sutterfield Consignment Gallery
			</h3>
			<img src="assets/images/image-greg.jpg"/>
			<p>
				Sutterfield Consignment was founded in 2002 by Peggy Sutterfield. After the store enjoyed 13 years as a gathering venue for fashionable clients, designers and collectors alike, Greg Holtmann took over the ownership in 2015. Greg has spent many years in the luxury home furnishing industry as a designer, merchandiser and buyer before taking over Sutterfields.
			</p>

		</div>

	</div>
</section>
