

body {
	background: #1B1B1B;
	color: #E5E5E5;
	padding-left: 80px;
	padding-right: 80px;
}

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 16px;
	margin-top: 16px;
	.logo-container {
		height: 150px;
		#logo-cva{
			display: block;
			height: 100%;
			img {
				display: block;
				height: 100%;
			}
		}
	}
	.nav-container {
		align-items: flex-end;
		border-bottom: 1px solid white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 400px;
		margin-bottom: 33px;
		width: 75%;
		#registration {
			margin-right: 30px;
		}
		nav {
			display: flex;
			justify-content:space-around;
			padding-bottom: 8px;
			margin-right: 30px;
			min-width: 360px;
			.selected {
				font-weight: 700;;
			}
		}
	}
}

input, textarea {
	border: 2px solid #797979;
	border-radius: 2px;
	background: transparent;
	color: #C4C4C4;
	display: block;
	margin-bottom: 16px;
	padding: 6px;
	min-height: 30px;
	min-width: 300px;
}

select {
	border: 2px solid #797979;
	border-radius: 2px;
	background: transparent;
	color: #C4C4C4;
	margin-bottom: 16px;
	margin-right: 16px;
	padding: 6px;
	min-height: 30px;
	min-width: 300px;
	width: 100%;
}

label {
	display: block;;
}

form {
	display: flex;
	justify-content: flex-start;
}

.form-column {
	margin-right: 140px;
}

.form-checkbox {
	display: grid;
	position: absolute;
	top: 2px;
	left: -26px;
	transform: scale(0.8);
}

.form-checkbox-container {
	align-items: center;
	display: flex;
	padding-top: 4px;
	position: relative;
}

.form-submit {
	border: 2px solid #797979;
	border-radius: 2px;
	background: #373737;
	color: #C4C4C4;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-bottom: 16px;
	padding: 8px 6px 4px 6px;
	min-height: 30px;
	min-width: 280px;
	text-align: center;
	&:hover {
		background: #797979;
	}
}

.form-error {
	color: #E70000;
	font-size: 14px;
	font-weight: 800;
	line-height: 1.5;
}