

.main-container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1320px;
	width: 100%;
}

#profile {
    .profile-section {
        margin-bottom: 100px;
        margin-top: 16px;
    }
    .profile-container {
        display: flex;
        margin-top: 16px;
    }
    .profile-pic {
        border-radius: 50%;
        margin-right: 30px;
    }
    .profile-name span {
        color: #797979;
    }
    .venue-container {
        margin-top: 30px;
    }
}

.venue-module{
    display: flex;
    margin-bottom: 30px;
    min-height: 260px;
    max-height: 500px;
    position: relative;
    .venue-description {
        background: #373737;
        border-top-left-radius: 2%;
        border-bottom-left-radius: 2%;
        display: flex;
        flex-direction: column;
        padding: 24px;
        justify-content: space-between;
        width: 35%;
        .venue-desc_about {
            a {
                display: block;
                margin-top: 8px;
            }
        }
        .venue-desc_type {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .venue-desc_aetheryte {
            align-items: center;
            color: #CCCCCC;
            display: flex;
            font-size: 14px;
            font-weight: 800;
            margin-top: 16px;
        }
    }
    .venue-image {
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;
        width: 65%;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
            border-top-right-radius: 2%;
            border-bottom-right-radius: 2%;
            height: 100%;
            max-height: 500px;
        }
    }
    .image-upload-form {
        background: rgb(80,80,80);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        label {
            font-weight: 800;
            max-width: 200px;
            margin-bottom: 10px;
            margin-left: 100px;
        }
        input, button {
            max-width: 500px;
            padding: 6px;
            margin-left: 100px;
            margin-top: 0;
            text-align: center;
        }
    }
}

.events-module{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
    .event-item {
        background: #373737;
        border-radius: 2%;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 416px;
    }
    .event-image {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        position: relative;
        overflow: hidden;
        width: 416px;
        max-height: 234px;
        img {  
            width: 100%;
        }
    }
    .event-description {
        padding: 16px;
        h3 {
            margin-top: 6px;
            margin-bottom: 4px;
        }
        .event-venue {
            margin-top: 30px;
        }
    }
    .image-upload-form {
        background: rgb(80,80,80);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        label {
            font-weight: 800;
            max-width: 150px;
            margin-bottom: 10px;
            margin-left: 20px;
        }
        input, button {
            max-width: 350px;
            padding: 6px;
            margin-left: 20px;
            margin-top: 0;
            text-align: center;
        }
    }
}